.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__body {
  display: flex;
  flex: 1;
  padding: 20px;
}
.app__content{
  margin-block-start: 65px;
}
@media screen and (max-width: 768px) {
  .app__body {
    flex-direction: column;
  }
}